@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
     margin: 0;
     padding: 0;
}

/* Cuerpo */
body{
     text-align: center;
     font-family: 'Poppins',sans-serif;
     font-weight: bolder;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
     background-image: url(../img/fondo.jpg);
}

/* GRID */
.gridContainer{
     display: grid;
     grid-template-areas: 
     "encabezado"
     "navbar"
     "contenido"
     "piedepagina";
     grid-template-columns: 1fr;
     grid-template-rows: 1fr;
}

header{
     grid-area: encabezado;
}

.navbar{
     grid-area: navbar;
}

.contenido{
     grid-area: contenido;
}

footer{
     grid-area: piedepagina;
}

/* Encabezado */

header{
     background-color: black;
     border-bottom: solid white 1px;
     padding: 10px;
}

.colorHeader{
     background-color: black;
}

nav{
     font-family: 'Roboto:wght@300', sans-serif;
     font-size: 20px;
     display: flex;
     justify-content:space-between;
     flex-direction: row-reverse;
     margin-right: 8px;
}

.sacarPadding{
     padding: 0px;
}

.logogym{
     height: 80px;
     width: 80px;
     border: solid black;
     border-radius: 20px;
}

.nav-link{
     color: white;
}

.nav-link:hover{
     color:rgb(245, 4, 4);
}

.navbar-toggler-icon{
     background-color: rgb(245, 4, 4);
     padding: 20px;
     border-radius: 5px;
}

/* Pie de página */

footer{
     grid-area: piedepagina;
     background-color: black;
     padding: 20px;
     margin-top: 100px;
     border-top: 2px solid white;
     text-align: center;
}

.piePagina{
     display: flex;
     justify-content: space-evenly;
}

.logoRedes{
     width: 100px;
     height: 100px;
}

.botonSubir{
     font-family: 'Roboto:wght@300', sans-serif;
     color: black;
     border: 2px solid black;
     background-color:rgb(189, 185, 185);
     border-radius: 1cm;
}

@media (min-width:350px) {

/* Inicio */

.t-stroke {
     font-size: 60px;
     color: transparent; 
     -moz-text-stroke-width: 2px;
     -webkit-text-stroke-width: 2px;
     -moz-text-stroke-color: #000000;
     -webkit-text-stroke-color: #ffffff;
}

.t-shadow {
     text-shadow: 7px 7px rgb(168, 9, 9);
}

.thumbnail { 
     position: relative; 
} 

.subtitulos {
     font-family: 'Roboto:wght@300', sans-serif;
     text-align: center;  
     font-size: 20px; 
     color: rgb(168, 9, 9); 
     text-shadow: 0px 0px 9px rgb(245,4,4);
     margin: 10px 0px 10px 0px;
     }

.subtituloInicio{ 
     color:rgb(245,4,4);
     text-shadow: 0px 0px 9px rgb(168, 9, 9);
     margin: 5px 0px 0px 0px;
     font-size: 15px;
}

.imgCarrusel{
     width: 30px;
     height: 300px;
}

.imgInicio{
     margin: 50px 0px 50px 0px;
     border: 5px inset rgb(245,4,4);
     border-radius: 20px;
     width: 345px;
     height: 345px;
}

.textoInicio{
     padding: 20px;
     margin: 0px 10px 0px 10px;
     text-align: center;
     font-family: 'Roboto:wght@300', sans-serif;
     font-size: 20px;
     color: white;
     background-image: url(../img/fondo-form.jpg);
     border-radius: 15px;
}

.imagen1Flex{
     display: flex;
     flex-direction: column;
     align-items: center;
}

.imagen2Flex{
     display: flex;
     flex-direction: column;
     align-items: center;
}

/* Instalaciones */

.imgInstalaciones{
     height: 300px;
     width: 300px;
     margin: 20px 0px 20px 0px;
     border: 5px inset black;
}

.nombreSeccion{
     font-family: 'Roboto:wght@300', sans-serif;
     font-size: 25px;
     background-color:rgb(168, 9, 9);
     padding: 5px;
     margin: 30px 100px 30px 0px;
     text-align: center;
}

.seccion{
     display: flex;
     flex-direction: column;
     align-items: center;
     margin:20px 0px 20px 0px;
}

/* Productos */

.imgProductos{
     height: 300px;
     width: 300px;
     margin: 20px 20px 20px 20px ;
     border: 5px inset black;
}

.precioProductos{
     font-family: 'Roboto:wght@300', sans-serif;
     text-align: center;
     color: white;
     display: block;
     margin: 0px 140px 0px 140px;
     font-size: 35px;
     background-image: url(../img/fondo-form.jpg);
}

/* Ubicación */

.acomodarMapa{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 500px;
}

.mapa{
     width: 80%;
     height: 70%;
}

.mapa iframe{
     height: 100%;
     width: 100%;
}

.fachadaFlex{
     display: flex;
     flex-direction: column;
     align-items: center;
}

.imagenFachada{
     width: 300px;
     height: 300px;
     margin: 20px 0px 20px 0px;
     border: 5px inset rgb(245,4,4);
}

.imagenFachada:hover{
     transform: scale(1.2);
     transition-property: all;
     transition-duration: 2s;
}

/* Contactos */
.acomodar{
     display: flex;
     justify-content:center;
}

.formulario{
     font-family: 'Roboto:wght@300', sans-serif;
     text-align: left;
     font-size: 14px;
     color: white;
     width: 350px;
     height: 450px;
     border: 5px inset rgb(245,4,4);
     padding:5px;
     background-image: url(../img/fondo-form.jpg);
     opacity: 0.9;
}

fieldset{
     border: 0px;
}

fieldset div{
     padding: 10px;
     margin-top: 10px;
     margin-bottom: 10px;
}

.botones{
     text-align: right;
     margin-right: 10px;
}

.fondoBoton:hover{
     background-color:rgb(168, 9, 9);
}

}

@media (min-width:768px){
.gridContainer{
     display: grid;
     grid-template-areas: 
     "encabezado encabezado encabezado"
     "navbar navbar navbar"
     "contenido contenido contenido"
     "piedepagina piedepagina piedepagina";
}

/* Inicio */

.subtitulos{
     font-size: 25px;
}

.t-stroke{
     font-size: 80px;
}

.imgCarrusel{
     width: 500px;
     height: 500px;
}

.imgInicio{
     margin: 50px 0px 10px 0px;
     width: 500px;
     height: 500px;
}

.textoInicio{
     margin: 0px 15px 0px 15px;
}

footer{
     margin-top: 60px;
}

/* Instalaciones */

.nombreSeccion{
     margin: 30px 360px 30px 0px;
}

.imgInstalaciones{
     height: 450px;
     width: 450px;
     margin: 20px 0px 20px 0px;
}

/* Productos */

.imgProductos{
     height: 450px;
     width: 450px;
}

.precioProductos{
     margin: 0px 200px 0px 200px;
}

/* Ubicación */

.imagenFachada{
     width: 500px;
     height: 500px;
     margin: 20px 0px 20px 0px;
}

/* Contactos */

.formulario{
     font-size: 18px;
     width: 500px;
     height: 500px;
     padding:10px;
}

}

@media (min-width:1024px){

/* Inicio */

.subtitulos{
     top: 50%;
     font-size: 30px;
}

.subtituloInicio{
     position: absolute;
     text-align: center;
     top: 60%;
     left: 20%;
     right: 20%;
     font-size: 30px;
}

.t-stroke {
     font-size: 150px; 
}

.caption {
     position: absolute; 
     top: 30%; 
     left: 0%; 
     width: 100%; 
}

.imgCarrusel{
     width: 300px;
     height: 900px;
     border-bottom: solid white 5px;
}
     
.imgInicio{
     margin: 80px 0px 0px 0px;
     border-radius: 30px;
     width: 350px;
     height: 350px;
}
     
.textoInicio{
     margin: 150px 50px 100px 50px;
     border-radius: 30px;
}

.imagen1Flex{
     display: flex;
     flex-direction: row;
     margin-left: 50px;
}

.imagen2Flex{
     display: flex;
     flex-direction: row-reverse;
     margin-right: 50px;
}

/* Instalaciones */

.imgInstalaciones{
     height: 300px;
     width: 300px;
     margin: 20px 20px 20px 20px;
     border: 5px inset black;
}

.nombreSeccion{
     margin: 30px 600px 30px 0px;
}

.seccion{
     display: flex;
     flex-direction: row;
     justify-content: center;
     margin:20px 0px 20px 0px;
}

/* Productos */

.imgProductos{
     height: 300px;
     width: 300px;
}

.precioProductos{
     margin: 10px 70px 10px 70px;
}

/* Ubicación */

.fachadaFlex{
     display: flex;
     flex-direction: row;
     justify-content: center;
}

.imagenFachada{
     width: 300px;
     height: 300px;
     margin: 40px 40px 40px 40px;
}

/* Contactos */

.formulario{
     font-size: 20px;
     width: 550px;
     height: 550px;
     padding:15px;
}

}